doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Admin Page
        link(rel='stylesheet', href='/assets/css/admin/navbar.css')
        link(rel='stylesheet', href='/assets/css/admin/footer.css')

    body
        include navbar
        h1 This is Admin page