div(id="fullNavbar" class="navbarX")
    ul(class="navbarItems")
        a(href='/' target="_blank")
            li Home
        a(href='/join' target="_blank")
            li Register
        a(href='/login' target="_blank")
            li Sign In
        a(href='/admin/allStudents' target="_blank")
            li Dash Board
        a(href='/admin/sign_up_admin' target="_blank")
            li SignUp
        a(href='/update_student' target="_blank")
            li Update