@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&amp;display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    /*font-optical-sizing: auto;*/
    /*font-weight: normal ;*/
    /*font-style: normal;*/

}

body{
    display: grid;
    width: 100vw;
    height: 100vh;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}
.joinForm{
    display: grid;
}

.formSubmit{
    width: 100px;
    justify-self: center;
    margin-top: 30px;
}
.formSection{
    padding: 20px;
}