@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&amp;display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal ;
    font-style: normal;


}

body{
    display: grid;
}

.btnAdd {
  margin: 10px;
}


.container {
    display: grid;
    width: 100vw;
    /*padding: 20px;*/
    justify-content: center;
    padding-bottom: 50px;
}





.formCard {
    padding: 10px;
    /*box-shadow: 1px 1.5px 1px 2px black;*/
    display: inline-grid;
    /*width: 800px;*/
    border-radius: 3px;
    border:1px solid cornflowerblue;
}

