div(class="navbar_section")
   ul(class="navbarItems")

            li
                 a(href='/' target="_blank") Home

            li
                a(href='/join' target="_blank") Register

            li
                a(href='/login' target="_blank") SignIn

            li
                  a(href='/admin/allStudents' target="_blank") DashBoard

            li
                  a(href='/admin/sign_up_admin' target="_blank") SignUp

            li
                  a(href='/update_student' target="_blank") Update