div(class="navbar" class="fullNavbar")
      ul(class="navbarItems")
        
        a(href='/join')
            li
              img(src="/assets/images/add_user.png" class="navbarLogo" )
        
        
        
        a(href='/update_student' target="_self")
            li 
              img(src="/assets/images/update.png" class="navbarLogo" )
        